<h1>Pages#links</h1>
<p>Find me in app/views/pages/links.html.erb</p>
<p>Tom Added this to see if autotest would trip. It did not, have to change a test.</p>
<p>Added method call to spec_helper.rb to reload routes, but changes to pages_controller.rb
not seen by spork either.</p>
<p>Actually, changes to pages_controller.rb were seen, but lack of links.html.erb, showed same error, which made me thing changes to
pages_conmtroller.rb had not been seen.</p>
